<a href="https://colab.research.google.com/github/YuxingW/deep_learning/blob/main/hw5/part_d_xg_boost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Predict NYC taxi fares using XGBoost

### Importing Data and Libraries

In [1]:
# load some default Python modules
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

plt.style.use('seaborn-whitegrid')

import warnings
warnings.filterwarnings('ignore')

In [2]:
import requests
from io import BytesIO

url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSdR1c5jpsE5Kp2DzQoIm7H2XywINfGNMnTL7nP92mu_GBHgu2T0mPxnu5O0YVfSpAbAu1NGNrm0auq/pub?output=csv'
r = requests.get(url)
csv_data = r.content
df_origin = pd.read_csv(BytesIO(csv_data))
train = df_origin[:90000]
test = df_origin[90000:]

In [3]:
# datatypes
train.dtypes

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [4]:
# Basic Stats of the data set
train.describe()

        fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  90000.000000      90000.000000  ...      90000.000000     90000.000000
mean      11.341009        -72.500507  ...         39.918458         1.672733
std        9.687934         10.696395  ...          6.084845         1.299121
min      -44.900000       -736.550000  ...        -74.006377         0.000000
25%        6.000000        -73.992016  ...         40.734200         1.000000
50%        8.500000        -73.981791  ...         40.753256         1.000000
75%       12.500000        -73.966995  ...         40.768182         2.000000
max      200.000000         40.783472  ...         43.415190         6.000000

[8 rows x 6 columns]

**following thing that i can notice**
- Fare amount is negative and it doesn't seem to be realistic
- few longitude and lattitude entries are off
- maximum passanger count is 208 which looks odd

In [5]:
print("old size: %d" % len(train))
train = train[train.fare_amount >=0]
print("New size: %d" % len(train))

old size: 90000
New size: 89992

In [6]:
# check missing data
train.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

**There are 36 records where longitud and latitude are missing, we will drop them from the data**

In [7]:
print("old size: %d" % len(train))
train = train.dropna(how='any', axis=0)
print("New size after dropping missing value: %d" % len(train))

old size: 89992
New size after dropping missing value: 89992

- Looks like the distribution is highly skewed and frequency above 100 is very less
- we will plot below 100 and above 100 separately

- There are few points between 40 and 60 dollars which has slightly high frequency and that could be airport trips

In [8]:
train[train.fare_amount >100 ].shape

(34, 8)

### Read the test data

In [9]:
#check for missing value
test.isnull().sum()

key                  0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
dtype: int64

There are no missing value in test data set

In [10]:
# checking for basic stats
test.describe()

       fare_amount  pickup_longitude  ...  dropoff_latitude  passenger_count
count  9999.000000       9999.000000  ...       9999.000000      9999.000000
mean     11.478017        -72.442105  ...         39.924325         1.683668
std       9.972600         10.672673  ...          7.269734         1.309652
min      -3.000000        -78.083332  ...        -73.999742         0.000000
25%       6.000000        -73.992333  ...         40.734005         1.000000
50%       8.500000        -73.981767  ...         40.753052         1.000000
75%      12.600000        -73.966873  ...         40.767966         2.000000
max     150.000000         40.787575  ...        404.616667         6.000000

[8 rows x 6 columns]

We will store the minimum and maximum of the longitude and latitude from test data set and filter the train data set for those data points

In [11]:
min(test.pickup_longitude.min(),test.dropoff_longitude.min()), \
max(test.pickup_longitude.max(),test.dropoff_longitude.max())

(-78.083332, 40.810297)

In [12]:
min(test.pickup_latitude.min(),test.dropoff_latitude.min()), \
max(test.pickup_latitude.max(),test.dropoff_latitude.max())

(-74.00541, 404.616667)

In [13]:
# this function will also be used with the test set below
def select_within_test_boundary(df, BB):
    return (df.pickup_longitude >= BB[0]) & (df.pickup_longitude <= BB[1]) & \
           (df.pickup_latitude >= BB[2]) & (df.pickup_latitude <= BB[3]) & \
           (df.dropoff_longitude >= BB[0]) & (df.dropoff_longitude <= BB[1]) & \
           (df.dropoff_latitude >= BB[2]) & (df.dropoff_latitude <= BB[3])

In [14]:
BB = (-74.5, -72.8, 40.5, 41.8)
print('Old size: %d' % len(train))
train = train[select_within_test_boundary(train, BB)]
print('New size: %d' % len(train))

Old size: 89992
New size: 88084

- Now we have sliced the train data records as per the coordinates of the test data

### Manual Feature Engineering
- Adding distance metrics
- few time based variables

In [15]:
def prepare_time_features(df):
    df['pickup_datetime'] = df['pickup_datetime'].str.slice(0, 16)
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], utc=True, format='%Y-%m-%d %H:%M')
    df['hour_of_day'] = df.pickup_datetime.dt.hour
    df['month'] = df.pickup_datetime.dt.month
    df["year"] = df.pickup_datetime.dt.year
    df["weekday"] = df.pickup_datetime.dt.weekday

    return df

In [16]:
train = prepare_time_features(train)
test = prepare_time_features(test)

In [17]:
# calculate-distance-between-two-latitude-longitude-points-haversine-formula 
# Returns distance in miles
def distance(lat1, lon1, lat2, lon2):
    p = 0.017453292519943295 # Pi/180
    a = 0.5 - np.cos((lat2 - lat1) * p)/2 + np.cos(lat1 * p) * np.cos(lat2 * p) * (1 - np.cos((lon2 - lon1) * p)) / 2
    return 0.6213712 * 12742 * np.arcsin(np.sqrt(a))   # 2*R*asin...

In [18]:
train['distance_miles'] = distance(train.pickup_latitude, train.pickup_longitude, \
                                      train.dropoff_latitude, train.dropoff_longitude)

In [19]:
test['distance_miles'] = distance(test.pickup_latitude, test.pickup_longitude, \
                                      test.dropoff_latitude, test.dropoff_longitude)

**Calculating pickup and drop distance**

In [20]:
def transform(data):
    # Distances to nearby airports, 
    jfk = (-73.7781, 40.6413)
    ewr = (-74.1745, 40.6895)
    lgr = (-73.8740, 40.7769)

    data['pickup_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                         data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_jfk'] = distance(jfk[1], jfk[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_ewr'] = distance(ewr[1], ewr[0], 
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_ewr'] = distance(ewr[1], ewr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    data['pickup_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                          data['pickup_latitude'], data['pickup_longitude'])
    data['dropoff_distance_to_lgr'] = distance(lgr[1], lgr[0],
                                           data['dropoff_latitude'], data['dropoff_longitude'])
    
    return data

train = transform(train)
test = transform(test)

- Delete these 15 record where distance covered and fare amount are zero, which won't help our model

In [21]:
train[(train['distance_miles']==0)&(train['fare_amount']==0)]

Empty DataFrame
Columns: [key, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count, hour_of_day, month, year, weekday, distance_miles, pickup_distance_to_jfk, dropoff_distance_to_jfk, pickup_distance_to_ewr, dropoff_distance_to_ewr, pickup_distance_to_lgr, dropoff_distance_to_lgr]
Index: []

In [22]:
print("old size: %d" % len(train))
train = train.drop(index= train[(train['distance_miles']==0)&(train['fare_amount']==0)].index, axis=0)
print("New size: %d" % len(train))

old size: 88084
New size: 88084

- There are 24 records where fare amount is zero but distance travelled is greater than 0, we will drop such case

In [23]:
train[train['fare_amount']==0].shape

(3, 19)

In [24]:
print("old size: %d" % len(train))
train = train.drop(index= train[train['fare_amount']==0].index, axis=0)
print("New size: %d" % len(train))

old size: 88084
New size: 88081

- There are 53 record where fare amount is less than 2.5 dollars (most of them are 0.01 dollars except 3 cases of fare between 1 and 2 dollar ) which doesn't make sense as the base fare for any taxi in new york is 2.5 dollars, we will drop those cases

In [25]:
train[train['fare_amount'] < 2.5].shape

(1, 19)

In [26]:
print("old size: %d" % len(train))
train = train.drop(index= train[train['fare_amount'] < 2.5].index, axis=0)
print("New size: %d" % len(train))

old size: 88081
New size: 88080

- There are stil 6 records left where passanger count is greater than 7
- we will delete such cases because we don't  have passanger count greater than 7 in test record

In [27]:
train[train.passenger_count >= 7]

Empty DataFrame
Columns: [key, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count, hour_of_day, month, year, weekday, distance_miles, pickup_distance_to_jfk, dropoff_distance_to_jfk, pickup_distance_to_ewr, dropoff_distance_to_ewr, pickup_distance_to_lgr, dropoff_distance_to_lgr]
Index: []

In [28]:
print("old size: %d" % len(train))
train = train.drop(index= train[train.passenger_count >= 7].index, axis=0)
print("New size: %d" % len(train))

old size: 88080
New size: 88080

In [29]:
train.describe().T

                           count         mean  ...          75%          max
fare_amount              88080.0    11.329912  ...    12.500000   200.000000
pickup_longitude         88080.0   -73.975013  ...   -73.968297   -72.856968
pickup_latitude          88080.0    40.751202  ...    40.767730    41.692428
dropoff_longitude        88080.0   -73.973965  ...   -73.965142   -72.854940
dropoff_latitude         88080.0    40.751624  ...    40.768513    41.714633
passenger_count          88080.0     1.673422  ...     2.000000     6.000000
hour_of_day              88080.0    13.491281  ...    19.000000    23.000000
month                    88080.0     6.262954  ...     9.000000    12.000000
year                     88080.0  2011.741133  ...  2013.000000  2015.000000
weekday                  88080.0     3.033912  ...     5.000000     6.000000
distance_miles           88080.0     2.073343  ...     2.439795    64.644331
pickup_distance_to_jfk   88080.0    12.971226  ...    13.603072    78.602440
dropoff_distance_to_jfk  88080.0    12.995469  ...    13.615825    79.697023
pickup_distance_to_ewr   88080.0    11.413453  ...    12.101202    71.468468
dropoff_distance_to_ewr  88080.0    11.507993  ...    12.320867    71.468468
pickup_distance_to_lgr   88080.0     6.004377  ...     6.839383    68.036300
dropoff_distance_to_lgr  88080.0     6.008617  ...     6.811676    69.154424

[17 rows x 8 columns]

Check the distribution of distance in miles covered for train and test data set

In [30]:
#train data set
pd.cut(train['distance_miles'],np.linspace(0, 70, num = 8)).value_counts()

(0.0, 10.0]     85301
(10.0, 20.0]     1799
(20.0, 30.0]       13
(60.0, 70.0]       11
(50.0, 60.0]        6
(40.0, 50.0]        1
(30.0, 40.0]        0
Name: distance_miles, dtype: int64

In [31]:
# test data set
pd.cut(test['distance_miles'],np.linspace(0, 70, num = 8)).value_counts()

(0.0, 10.0]     9444
(10.0, 20.0]     216
(20.0, 30.0]       4
(60.0, 70.0]       1
(50.0, 60.0]       1
(40.0, 50.0]       0
(30.0, 40.0]       0
Name: distance_miles, dtype: int64

In [32]:
# we will deal with it later 
fare_100 = train[train.fare_amount > 100]
fare_100.shape

(33, 19)

**There are 1669 records where fare amount is higher than 100 dollars**
   - I also see than 527 records are such where distance covered  is even less than 1 miles
   - While researching through few websites (https://www.introducingnewyork.com/taxis,  https://www.taxi-calculator.com/taxi-rate-new-york-city/259) i got to know that if taxi waits for passanger additional $30 dollars per hour will be charged depending on the location of the pickup.
   - Since we don't have such variable where we can get to know the waiting time, we can drop such cases where distance is very less in copare to fare amount charged for the ride

In [33]:
fare_100[fare_100.distance_miles <1].shape

(18, 19)

In [34]:
# #dropping cases where fare is above 100 dollars and distance is less than 1 miles
# print("old size: %d" % len(train))
# train = train.drop(index= train[(train.distance_miles <1) & (train.fare_amount > 100)].index, axis=0)
# print("New size: %d" % len(train))

In [35]:
train.columns

Index(['key', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count', 'hour_of_day', 'month', 'year', 'weekday',
       'distance_miles', 'pickup_distance_to_jfk', 'dropoff_distance_to_jfk',
       'pickup_distance_to_ewr', 'dropoff_distance_to_ewr',
       'pickup_distance_to_lgr', 'dropoff_distance_to_lgr'],
      dtype='object')

In [36]:
# create copy of the data set
df_train = train.drop(columns= ['key','pickup_datetime'], axis= 1).copy()
df_test = test.drop(columns= ['key','pickup_datetime'], axis= 1).copy()
print(df_train.shape)
print(df_test.shape)

(88080, 17)
(9999, 17)

### Train Test Split

In [37]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(df_train.drop('fare_amount', axis=1),
                                                    df_train['fare_amount'], test_size=0.2, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(70464, 16)
(17616, 16)
(70464,)
(17616,)

## XG Boost Model

In [38]:
import xgboost as xgb

In [39]:
params = {
   
    'max_depth': 7,
    'gamma' :0,
    'eta':.03, 
    'subsample': 1,
    'colsample_bytree': 0.9, 
    'objective':'reg:linear',
    'eval_metric':'rmse',
    'silent': 0
}

In [40]:
def XGBmodel(X_train,X_test,y_train,y_test,params):
    matrix_train = xgb.DMatrix(X_train,label=y_train)
    matrix_test = xgb.DMatrix(X_test,label=y_test)
    model=xgb.train(params=params,
                    dtrain=matrix_train,num_boost_round=5000, 
                    early_stopping_rounds=10,evals=[(matrix_test,'test')])
    return model

model = XGBmodel(X_train,X_test,y_train,y_test,params)

[22:58:48] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	test-rmse:13.8699
Will train until test-rmse hasn't improved in 10 rounds.
[1]	test-rmse:13.4932
[2]	test-rmse:13.1513
[3]	test-rmse:12.7982
[4]	test-rmse:12.4552
[5]	test-rmse:12.1242
[6]	test-rmse:11.8059
[7]	test-rmse:11.4987
[8]	test-rmse:11.2004
[9]	test-rmse:10.9134
[10]	test-rmse:10.6533
[11]	test-rmse:10.3839
[12]	test-rmse:10.1239
[13]	test-rmse:9.86878
[14]	test-rmse:9.62576
[15]	test-rmse:9.39145
[16]	test-rmse:9.16612
[17]	test-rmse:8.94926
[18]	test-rmse:8.73785
[19]	test-rmse:8.53649
[20]	test-rmse:8.34098
[21]	test-rmse:8.15204
[22]	test-rmse:7.98297
[23]	test-rmse:7.80668
[24]	test-rmse:7.63635
[25]	test-rmse:7.4719
[26]	test-rmse:7.3165
[27]	test-rmse:7.16646
[28]	test-rmse:7.02236
[29]	test-rmse:6.88225
[30]	test-rmse:6.7497
[31]	test-rmse:6.6224
[32]	test-rmse:6.50028
[33]	test-rmse:6.37916
[34]	test-rmse:6.26743
[35]	test-rmse:6.16525
[36]	test-rmse:6.06023
[37]	test-rmse:5.95892
[38]	test-rmse:5.86247
[39]	test-rmse:5.76955
[40]	test-rmse:5.68174
[41]	test-rmse:5.59518
[42]	test-rmse:5.51521
[43]	test-rmse:5.43755
[44]	test-rmse:5.36364
[45]	test-rmse:5.29476
[46]	test-rmse:5.22778
[47]	test-rmse:5.16305
[48]	test-rmse:5.10096
[49]	test-rmse:5.04295
[50]	test-rmse:4.98695
[51]	test-rmse:4.93426
[52]	test-rmse:4.88346
[53]	test-rmse:4.83393
[54]	test-rmse:4.7863
[55]	test-rmse:4.74137
[56]	test-rmse:4.69874
[57]	test-rmse:4.65956
[58]	test-rmse:4.62094
[59]	test-rmse:4.58265
[60]	test-rmse:4.54638
[61]	test-rmse:4.51297
[62]	test-rmse:4.48083
[63]	test-rmse:4.45175
[64]	test-rmse:4.42571
[65]	test-rmse:4.39959
[66]	test-rmse:4.37231
[67]	test-rmse:4.34683
[68]	test-rmse:4.32157
[69]	test-rmse:4.29855
[70]	test-rmse:4.27831
[71]	test-rmse:4.25772
[72]	test-rmse:4.23767
[73]	test-rmse:4.21998
[74]	test-rmse:4.20231
[75]	test-rmse:4.18544
[76]	test-rmse:4.16933
[77]	test-rmse:4.15485
[78]	test-rmse:4.14008
[79]	test-rmse:4.1267
[80]	test-rmse:4.11437
[81]	test-rmse:4.1013
[82]	test-rmse:4.09038
[83]	test-rmse:4.08045
[84]	test-rmse:4.06907
[85]	test-rmse:4.05914
[86]	test-rmse:4.04887
[87]	test-rmse:4.03961
[88]	test-rmse:4.03148
[89]	test-rmse:4.02475
[90]	test-rmse:4.01612
[91]	test-rmse:4.009
[92]	test-rmse:4.00064
[93]	test-rmse:3.99293
[94]	test-rmse:3.98545
[95]	test-rmse:3.98051
[96]	test-rmse:3.97455
[97]	test-rmse:3.96843
[98]	test-rmse:3.96292
[99]	test-rmse:3.95755
[100]	test-rmse:3.9519
[101]	test-rmse:3.94638
[102]	test-rmse:3.94191
[103]	test-rmse:3.9377
[104]	test-rmse:3.9348
[105]	test-rmse:3.93038
[106]	test-rmse:3.92663
[107]	test-rmse:3.92148
[108]	test-rmse:3.91785
[109]	test-rmse:3.91359
[110]	test-rmse:3.91036
[111]	test-rmse:3.90814
[112]	test-rmse:3.90479
[113]	test-rmse:3.90138
[114]	test-rmse:3.89954
[115]	test-rmse:3.89776
[116]	test-rmse:3.89582
[117]	test-rmse:3.89319
[118]	test-rmse:3.89061
[119]	test-rmse:3.88785
[120]	test-rmse:3.88709
[121]	test-rmse:3.88578
[122]	test-rmse:3.88329
[123]	test-rmse:3.88155
[124]	test-rmse:3.88043
[125]	test-rmse:3.87849
[126]	test-rmse:3.87661
[127]	test-rmse:3.87464
[128]	test-rmse:3.87453
[129]	test-rmse:3.87309
[130]	test-rmse:3.87133
[131]	test-rmse:3.87069
[132]	test-rmse:3.868
[133]	test-rmse:3.86651
[134]	test-rmse:3.8663
[135]	test-rmse:3.86517
[136]	test-rmse:3.86351
[137]	test-rmse:3.86337
[138]	test-rmse:3.8624
[139]	test-rmse:3.86317
[140]	test-rmse:3.86167
[141]	test-rmse:3.86054
[142]	test-rmse:3.85804
[143]	test-rmse:3.85645
[144]	test-rmse:3.85623
[145]	test-rmse:3.85502
[146]	test-rmse:3.85489
[147]	test-rmse:3.85484
[148]	test-rmse:3.85421
[149]	test-rmse:3.85389
[150]	test-rmse:3.85412
[151]	test-rmse:3.85423
[152]	test-rmse:3.85437
[153]	test-rmse:3.85321
[154]	test-rmse:3.85256
[155]	test-rmse:3.85062
[156]	test-rmse:3.84929
[157]	test-rmse:3.84958
[158]	test-rmse:3.84774
[159]	test-rmse:3.84715
[160]	test-rmse:3.84693
[161]	test-rmse:3.84734
[162]	test-rmse:3.84705
[163]	test-rmse:3.84634
[164]	test-rmse:3.84544
[165]	test-rmse:3.84539
[166]	test-rmse:3.84456
[167]	test-rmse:3.84344
[168]	test-rmse:3.84308
[169]	test-rmse:3.84158
[170]	test-rmse:3.84058
[171]	test-rmse:3.84085
[172]	test-rmse:3.83885
[173]	test-rmse:3.83862
[174]	test-rmse:3.83905
[175]	test-rmse:3.8388
[176]	test-rmse:3.83705
[177]	test-rmse:3.83542
[178]	test-rmse:3.83526
[179]	test-rmse:3.83498
[180]	test-rmse:3.83503
[181]	test-rmse:3.83496
[182]	test-rmse:3.83493
[183]	test-rmse:3.83409
[184]	test-rmse:3.8311
[185]	test-rmse:3.83133
[186]	test-rmse:3.83162
[187]	test-rmse:3.83151
[188]	test-rmse:3.83073
[189]	test-rmse:3.83065
[190]	test-rmse:3.82888
[191]	test-rmse:3.82852
[192]	test-rmse:3.82621
[193]	test-rmse:3.82642
[194]	test-rmse:3.82618
[195]	test-rmse:3.8252
[196]	test-rmse:3.82471
[197]	test-rmse:3.82292
[198]	test-rmse:3.82244
[199]	test-rmse:3.82198
[200]	test-rmse:3.82105
[201]	test-rmse:3.81985
[202]	test-rmse:3.8196
[203]	test-rmse:3.81696
[204]	test-rmse:3.81685
[205]	test-rmse:3.81682
[206]	test-rmse:3.81659
[207]	test-rmse:3.81613
[208]	test-rmse:3.81592
[209]	test-rmse:3.81533
[210]	test-rmse:3.81419
[211]	test-rmse:3.81367
[212]	test-rmse:3.81327
[213]	test-rmse:3.81073
[214]	test-rmse:3.81003
[215]	test-rmse:3.80996
[216]	test-rmse:3.81004
[217]	test-rmse:3.80769
[218]	test-rmse:3.80724
[219]	test-rmse:3.80609
[220]	test-rmse:3.80609
[221]	test-rmse:3.80621
[222]	test-rmse:3.8061
[223]	test-rmse:3.80417
[224]	test-rmse:3.80389
[225]	test-rmse:3.80399
[226]	test-rmse:3.80371
[227]	test-rmse:3.80397
[228]	test-rmse:3.80432
[229]	test-rmse:3.80253
[230]	test-rmse:3.80097
[231]	test-rmse:3.80049
[232]	test-rmse:3.80078
[233]	test-rmse:3.80025
[234]	test-rmse:3.79882
[235]	test-rmse:3.79849
[236]	test-rmse:3.79841
[237]	test-rmse:3.79826
[238]	test-rmse:3.79806
[239]	test-rmse:3.79753
[240]	test-rmse:3.79786
[241]	test-rmse:3.79763
[242]	test-rmse:3.79616
[243]	test-rmse:3.79584
[244]	test-rmse:3.79463
[245]	test-rmse:3.79433
[246]	test-rmse:3.79382
[247]	test-rmse:3.79388
[248]	test-rmse:3.79403
[249]	test-rmse:3.7936
[250]	test-rmse:3.79345
[251]	test-rmse:3.79332
[252]	test-rmse:3.79211
[253]	test-rmse:3.79158
[254]	test-rmse:3.79125
[255]	test-rmse:3.79095
[256]	test-rmse:3.78935
[257]	test-rmse:3.78864
[258]	test-rmse:3.78776
[259]	test-rmse:3.7875
[260]	test-rmse:3.78719
[261]	test-rmse:3.7871
[262]	test-rmse:3.78665
[263]	test-rmse:3.78624
[264]	test-rmse:3.78543
[265]	test-rmse:3.78504
[266]	test-rmse:3.78417
[267]	test-rmse:3.78407
[268]	test-rmse:3.78353
[269]	test-rmse:3.78376
[270]	test-rmse:3.78296
[271]	test-rmse:3.78307
[272]	test-rmse:3.78308
[273]	test-rmse:3.78261
[274]	test-rmse:3.78283
[275]	test-rmse:3.78303
[276]	test-rmse:3.78212
[277]	test-rmse:3.78207
[278]	test-rmse:3.78156
[279]	test-rmse:3.7816
[280]	test-rmse:3.78162
[281]	test-rmse:3.78161
[282]	test-rmse:3.78059
[283]	test-rmse:3.78063
[284]	test-rmse:3.78065
[285]	test-rmse:3.78084
[286]	test-rmse:3.78015
[287]	test-rmse:3.77931
[288]	test-rmse:3.77862
[289]	test-rmse:3.77835
[290]	test-rmse:3.77812
[291]	test-rmse:3.778
[292]	test-rmse:3.77718
[293]	test-rmse:3.77726
[294]	test-rmse:3.77724
[295]	test-rmse:3.77732
[296]	test-rmse:3.77749
[297]	test-rmse:3.77701
[298]	test-rmse:3.77709
[299]	test-rmse:3.7772
[300]	test-rmse:3.77636
[301]	test-rmse:3.77613
[302]	test-rmse:3.77623
[303]	test-rmse:3.7754
[304]	test-rmse:3.77516
[305]	test-rmse:3.77455
[306]	test-rmse:3.77422
[307]	test-rmse:3.77407
[308]	test-rmse:3.77398
[309]	test-rmse:3.77384
[310]	test-rmse:3.77319
[311]	test-rmse:3.77291
[312]	test-rmse:3.77294
[313]	test-rmse:3.7728
[314]	test-rmse:3.77322
[315]	test-rmse:3.77315
[316]	test-rmse:3.77292
[317]	test-rmse:3.7728
[318]	test-rmse:3.77244
[319]	test-rmse:3.77236
[320]	test-rmse:3.77203
[321]	test-rmse:3.77195
[322]	test-rmse:3.77178
[323]	test-rmse:3.77135
[324]	test-rmse:3.77117
[325]	test-rmse:3.77035
[326]	test-rmse:3.77011
[327]	test-rmse:3.77017
[328]	test-rmse:3.77029
[329]	test-rmse:3.77011
[330]	test-rmse:3.76994
[331]	test-rmse:3.76962
[332]	test-rmse:3.76938
[333]	test-rmse:3.7696
[334]	test-rmse:3.76942
[335]	test-rmse:3.76919
[336]	test-rmse:3.76922
[337]	test-rmse:3.76916
[338]	test-rmse:3.76926
[339]	test-rmse:3.76885
[340]	test-rmse:3.76818
[341]	test-rmse:3.76805
[342]	test-rmse:3.76778
[343]	test-rmse:3.76777
[344]	test-rmse:3.76767
[345]	test-rmse:3.76797
[346]	test-rmse:3.76784
[347]	test-rmse:3.7675
[348]	test-rmse:3.76743
[349]	test-rmse:3.76722
[350]	test-rmse:3.76723
[351]	test-rmse:3.7667
[352]	test-rmse:3.76671
[353]	test-rmse:3.76627
[354]	test-rmse:3.76622
[355]	test-rmse:3.76667
[356]	test-rmse:3.76574
[357]	test-rmse:3.76543
[358]	test-rmse:3.76521
[359]	test-rmse:3.76489
[360]	test-rmse:3.76487
[361]	test-rmse:3.76464
[362]	test-rmse:3.76423
[363]	test-rmse:3.7642
[364]	test-rmse:3.76377
[365]	test-rmse:3.76339
[366]	test-rmse:3.76341
[367]	test-rmse:3.76316
[368]	test-rmse:3.76308
[369]	test-rmse:3.76272
[370]	test-rmse:3.76323
[371]	test-rmse:3.76321
[372]	test-rmse:3.76336
[373]	test-rmse:3.76353
[374]	test-rmse:3.76283
[375]	test-rmse:3.76236
[376]	test-rmse:3.76246
[377]	test-rmse:3.76165
[378]	test-rmse:3.7616
[379]	test-rmse:3.76112
[380]	test-rmse:3.76102
[381]	test-rmse:3.76065
[382]	test-rmse:3.76084
[383]	test-rmse:3.76061
[384]	test-rmse:3.75986
[385]	test-rmse:3.7595
[386]	test-rmse:3.75917
[387]	test-rmse:3.75887
[388]	test-rmse:3.75919
[389]	test-rmse:3.7593
[390]	test-rmse:3.75956
[391]	test-rmse:3.75914
[392]	test-rmse:3.7591
[393]	test-rmse:3.75927
[394]	test-rmse:3.75898
[395]	test-rmse:3.75879
[396]	test-rmse:3.75891
[397]	test-rmse:3.75949
[398]	test-rmse:3.75952
[399]	test-rmse:3.75937
[400]	test-rmse:3.75945
[401]	test-rmse:3.75958
[402]	test-rmse:3.75969
[403]	test-rmse:3.75954
[404]	test-rmse:3.7594
[405]	test-rmse:3.75936
Stopping. Best iteration:
[395]	test-rmse:3.75879

In [41]:
df_test = df_test.drop(columns=['fare_amount'])
prediction = model.predict(xgb.DMatrix(df_test), ntree_limit = model.best_ntree_limit).tolist()